/*Burger menu and header*/
html{
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
    background-color: #F9F9FA;
}

/*Main block*/

.user-profile{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 40px;
    position: relative;
}

.user-profile__info{
    display: flex;
}

.user-profile__info_photo{
    background-color:#E9F1F7;
    padding: 10px;    
}

.user-profile__info_photo img{
    display: block;
    object-fit: cover;
}

.user-profile__info_data{
    padding: 0 10px;
}

.user-profile__info_data-name{
    font-size: 35px;
    font-weight: 900;
}

@media (max-width: 835px){
  .user-profile__info{
    flex-direction: column;
  }

  
  .user-profile__portfolio{
    width: 100%;
    margin: 0 auto;
  }
}

.project-photo{
  min-height: 200px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.project-info{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.project-info a{
  font-size: 24px;
  font-weight: 900;
  cursor: pointer;
}

.project-info a:hover{
  color: blue;
}

.project-photo img{
    width: 100%;
    object-fit: cover;
}

.user-profile__portfolio{
  padding: 0 20px;
  max-width: 1000px;
  margin: 0 auto;
}