html{
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

/*project list index.php*/
.projects-list{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 25px;
}

/*project view.php*/
.project{
    max-width: 1200px;
    padding: 0 20px 0 20px;
    margin:  0 auto;
}

.project--header img{
    width: 100%;
}

.project--info{
    padding: 20px;
}