html{
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

.pagination{
    margin-right: 0;
    margin-top: 40px;
}

/*project list index.php*/
.projects-list{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 25px;
}

/*project view.php*/
.project{
    max-width: 1200px;
    padding: 0 20px 0 20px;
    margin:  0 auto;
    background-color: #ffffff;
}

.project--header img{
    width: 100%;
    max-height: 600px;
}

.project--info{
    padding: 20px 0;
}

.heart-icon{
    padding-right: 5px;
}

.comment-icon{
    padding-left: 15px;
    padding-right: 5px;
}

.comment-block{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.comment-text{
    max-width: 600px;
    width: 100%;
    height: 150px;
}



.comment{
    margin-top: 30px;
}

.active_h{
    background-color: red !important;
    color: #ffffff !important;
}

.like{
    padding-left: 5px;
    padding-right: 5px;
    width: 100px
}

.likes-count{
    padding-left: 10px;
}

.comments{
    background: #ffffff;
}

.avatar-container{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar{
    width: 100%;
    height: 100%;
    object-fit: cover;
}