html{
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

  .settings-container{
      max-width: 1100px;
      margin: 0 auto;
      display: flex;
  }

  .settings-block{
      display: flex;
      flex-direction: row;
  }

  .settings{
      max-width: 600px;
      width: 100%;
  }

  .settings_item{
      margin-top: 5px;
  }

  .about{
      max-height: 300px;
      height: 100%;
  }